extends layout

block content
  h1= title
  a.
  p Welcome to #{title} Total : #{bookCount} Books
    p
    a.btn(href='/books/new', class="new-book") Add a Book
  
    table 
      tr 
        th ID 
        th TITLE
        th AUTHOR
        th GENRE
        th YEAR ISSUED 
        th createdAt 
        th updatedAt 
    

      each n in books 
        tr
          td= n.id  
            
          td
            a(href="/books/book/" + n.id )  #{n.title} 
          td=n.author 
          td=n.genre
          td=n.year 
          td=n.createdAt 
          td=n.updatedAt 
          



